/*


*   for Mobile:


*/

img {
    max-width: 100%; 
 }

iframe {
    max-width: 100%;
}

.container {
    padding: 10px 20px;
}

.container-fluid {
    padding: 0;    
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

/*


*        Mobile-colums 


*/

.col-1 {
    width: 8.3%;
}
.col-2 {
    width: calc(8.3% * 2 )
}
.col-4 { 
    width: calc( 8.3% * 4);
}
.col-5 {
    width: calc(8.3% * 5);
}
.col-10 {
    width: calc( 8.3% * 10 );
}
.col-11 {
    width: calc( 8.3% * 11 );
}
.col-12 {
    width: calc( 8.3% * 12 );
}

/*


*   Common



*/

body {
    margin: 0
}

.img-fluid {
    width: 100%;
}

.f-right {
    float: right;
}

.desktop-display-none {
    display: none;
}


h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;   
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: 100;
    }

h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24; 
}

p {
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24;
}

.line-througth{
    text-decoration: line-through;
}

.point-color{
    color: blue;
}

/*


*   Header



*/

.logo { 
    max-width: 100%;
}

.padding-navbar {
    padding-top: 10px ;
    outline: none;
}

header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

.menu, 
#menu-toggle,
#menu-toggle + .col-11 .fa-close,
#menu-toggle:checked + .col-11 .fa-bars {
    display: none;
}

#menu-toggle:checked +.col-11 + .menu,
#menu-toggle:checked +.col-11 .fa-close {
    display: initial;
}

.menu ul {
    width: 100vw;
    right: 0;
    position: absolute;
    margin: 0; 
    list-style-type: none;
    padding:0;
    display: block;
    flex-direction: column;
}

.menu li:hover {
    background: #3449ff; 
}

.menu li {
    display: block;
    padding: 15px 20px;
    text-decoration:  none;
    color: white;
    background: #0000EC;
    font-family: 'IBM Plex Mono', monospace; 
}

.header-btn:hover {
    background-image: linear-gradient(to right ,rgb(0, 255, 242),  #00098b);
    color: #ffffff;
    border-style: none;
}

.header-btn {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;  
    position: block;
    background-color:#00F3BB;
    border: none;
    outline: none;
    font-size: 16px;
    color: #00043b;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}

header p {
    padding-bottom: 25px;
}

.desktop-p {
    display: none;
}

/*


*  Episodios


*/

.episodios .clipped-background {
    background-image: linear-gradient(#3449ff, #00098b);
    color: #ffffff;
    padding: 50px 20px;
    padding-bottom: 125px;
    clip-path:polygon(  100% 2% ,
                        245% 89%,
                        0% 100% , 
                        0% 7%  );
}

.widgets-container {
    margin:auto;
    padding: 10px 10px,
}

.widgets {  
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0; 
    padding:0 ;
}

.desktopwidget {
   display: none;
}

/*


*   De dónde venimos


*/

.donde-venimos h3 {
    margin-top: -70px;
}

.phone-container {
    position: relative;
    top:-100px;
}

.phone {
    width: 100%;
}

/*


* Invitadas


*/

.invitadas-images {
    margin-top:-5px;
    max-width: 100vw;
    overflow: hidden;
    margin-right: -5px;
    margin-left: 0px; 
}

/*


*   Temas


*/

.temas p br {
    display: none;
}

.temas {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #060A24 ;
    text-align: center;
}

.temas p {
    text-align: center;
    padding: 0 10%  10% 10%;
    margin: 0;
}

.temas h3 {
    text-align: start;
}

.icon {
    margin: 0%;
}

/*


*   novedades 



*/

.novedades {
    background-image: linear-gradient(#3449ff, #00098b);
    color: #ffffff;
    padding: 50px 0px;
    clip-path:polygon(  100% 2% ,
                        100% 100%,
                        0% 100% , 
                        0% 21%  );
    text-align: center;
}

.novedades  h2 {
    padding: 10px 20px;
} 

.end-btn {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;  
    position: block;
    background-color:#00F3BB;
    border: none;
    font-size: 16px;
    color: #00043b;
    padding: 15px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}

.end-btn:hover {
    background-image: linear-gradient(to right ,rgb(0, 255, 242),  #00098b);
    color: #ffffff;
}

/*


* Footer


*/

footer .row {
  justify-content: center;
}

footer .f-right {
    float: initial;
}

footer {
 text-align: center;
}



@media only screen and (min-width: 768px) {
    
    /*---------------     for Desktop:     ---------------*/

    .d-col-1 {width: 8.33% }
    .d-col-2 {width:calc(8.33% *  2 );}
    .d-col-3 {width:calc(8.33% *  3 );}
    .d-col-4 {width:calc(8.33% *  4 );} 
    .d-col-5 {width:calc(8.33% *  5 );} 
    .d-col-6 {width:calc(8.33% *  6 );}   
    .d-col-7 {width:calc(8.33% *  7 );} 
    .d-col-8 {width:calc(8.33% *  8 );} 
    .d-col-9 {width:calc(8.33% *  9 ) ;}
    .d-col-10 {width:calc(8.33% * 10  );}
    .d-col-11 {width:calc(8.33% *  11 );}
    .d-col-12 {width:calc(8.33% * 12  );}

    .container {
        padding: 0;
    }

    .desktop-container{
        padding: 1.6% 13.9%;
    }
    .desktop-small-container{
        padding: 0.6%  6.9%  ;
    }
     

    /*---------------     Header     ---------------*/
    
    header label {
        display: none;
    }

    .menu,
    #menu-toggle,
    #menu-toggle + .col-11 .fa-close,
    #menu-toggle:checked + .col-11 .fa-bars {
    display: none;
    }

    .col-11 {
        display: none;
    }

    .desktop-menu {
        display:block
    }

    .desktop-menu  ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0 6%;
    }

    .desktop-menu li {    
     color: #060A24;
     background: #ffffff00;
    }

    .desktop-menu li:hover {
        background: #3448ff00;
        color:#00F3BB;
        cursor: pointer;
    }

    .desktop-menu li:active {
        color: #060a2481;
    }

    .logo { 
        max-width: 40%;
    }

    h1  br {
        display: none;
    }

    .header-btn {
        width: 33%;
    }

    .desktop-p {
        display: block;
    }

    header p {
        display: none;
    }

    /*---------------     Episodios     ---------------*/

    .embed-width {
        width: 46.5%;
    }

    .embed1 {
        padding-top:   6px;
        padding-right:  44px;
        padding-bottom: 44px;
    }

    .embed2 {
        padding-top: 6px;
        padding-left: 44px;
        padding-bottom: 44px;
        margin: 0;
    }

    .embed3 {
        padding-bottom:64px ;
        padding-top: 44px;
        padding-right: 44px ;
    }

    .embed4 {
        padding-top: 44px ;
        padding-left: 44px ;
        padding-bottom:64px ;
    }

    
    .episodios h2 {
        margin: 0;
        padding: 0 60px;
    } 

    div  .widgets-container {
        display: none;
    }    


    .episodios .clipped-background {
     padding-top: 150px;
     padding-bottom: 150px;
     clip-path: polygon( 100% 0% , 245% 70%, 0% 100% , 0% 14% );
    }

    /*---------------     De Donde Venimos     ---------------*/

    .donde-venimos {
         width: auto;
         height: 700px;
    }


    .donde-venimos h3 br {
         display: none;
    }


    .donde-venimos .desktop-container {
      width: auto;
    }

    .donde-venimos .container {
         padding: 100px 0px 0px 0px;
        
    }


    .phone-container {
        top:-140px;
    }


    /*---------------     Invitadas     ---------------*/

    .invitadas {
        max-width: 100vw;
        overflow: hidden;
        margin-right: -15px;
        margin-left: -5px; 
    }
    

    .invitadas h3 br {
        display: none;
    }

    .invitadas-images{ 
        margin-top: -5px ;
        margin-left: -5px;
        
    }


    /*---------------     Temas     ---------------*/

    .temas h3 br {
        display: none;
    }

    .temas p br {
        display: initial;
    }


    .icon {
        margin: 0px;
    }

    /*---------------     Novedades     ---------------*/

    .novedades {
       padding: 213px 0px 150px 0px;
       clip-path: polygon( 100% 1% , 100% 100%, 0% 100% , 0% 30% );
    } 

    .end-btn {
        width: 24%;
    }


    /*---------------     Footer     ---------------*/

    footer .row {
        justify-content: space-between;
    }

    footer .d-col-3 {
        margin: 0;
    
    }

    footer .f-right {
        float: right;
    }


    .social-icons-container {
        padding: 20px 0; 
        margin: 0;  
    }

}
