* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  @media (min-width: 769px) {
    body #boton-menu {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    body #boton-menu {
      display: none;
    }
    body #boton-menu:checked ~ header {
      height: 268px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
    }
    body #boton-menu:checked ~ header nav {
      position: absolute;
      margin-top: 44px;
    }
    body #boton-menu:checked ~ header label span {
      width: 14px;
      height: 14px;
    }
    body #boton-menu:checked ~ header label span::before {
      font-family: "FontAwesome", sans-serif;
      content: "\f00d";
      font-size: 100%;
    }
  }
  
  @media (min-width: 769px) {
    body header {
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 26px 100px;
    }
    body header .caja {
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    body header .caja img {
      width: 36px;
      height: 36px;
    }
    body header .caja label {
      display: none;
    }
    body header ul {
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      list-style: none;
    }
    body header ul li {
      padding: 0px 20px;
    }
    body header ul li a {
      display: block;
      text-decoration: none;
      font-family: 'IBM Plex Mono', monospace;
      font-size: 16px;
      color: #060A24;
      letter-spacing: 0;
      line-height: 28px;
    }
    body header ul li a:hover {
      color: #00F3BB;
      font-weight: bold;
      text-decoration: line-through;
    }
    body header ul li a:active {
      color: #060A24;
      opacity: 56%;
      text-decoration: line-through;
    }
  }
  
  @media (max-width: 768px) {
    body header {
      height: 44px;
    }
    body header .caja {
      padding: 10px 16px;
      width: 100%;
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      z-index: 3;
      background-color: white;
      top: 0;
      left: 0;
      width: 100%;
      height: 44px;
    }
    body header .caja img {
      position: relative;
      z-index: 4;
      padding-left: 5px;
      width: 36px;
      height: 36px;
    }
    body header .caja label {
      position: relative;
      z-index: 4;
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      width: 50px;
      padding: 10px 0px;
      border-right: 1px solid white;
    }
    body header .caja label span {
      width: 18px;
      height: 12px;
    }
    body header .caja label span::before {
      font-family: "FontAwesome", sans-serif;
      content: "\f0c9";
      font-size: 100%;
    }
    body header .caja label:hover {
      cursor: pointer;
    }
    body header nav {
      z-index: 2;
      position: absolute;
      background-color: #0000EC;
      width: 100%;
      height: 224px;
      margin-top: -224px;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      padding-left: 16px;
    }
    body header nav ul {
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -ms-flex-direction: column;
      list-style: none;
    }
    body header nav ul li {
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 56px;
    }
    body header nav ul li a {
      display: block;
      text-decoration: none;
      font-family: 'IBM Plex Mono', monospace;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 28px;
      color: #FFFFFF;
    }
  }
  
  @media (min-width: 769px) {
    body main #inicio {
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -ms-flex-direction: column;
    }
    body main #inicio h1 {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 64px;
      color: #060A24;
      letter-spacing: 0;
      margin-left: 200px;
      margin-top: 136px;
    }
    body main #inicio h1::after {
      content: '.';
      color: #0000EC;
    }
    body main #inicio h1 span {
      text-decoration: line-through;
    }
    body main #inicio .mobile {
      display: none;
    }
    body main #inicio p {
      font-family: 'IBM Plex Mono', monospace;
      font-size: 16px;
      color: #060A24;
      letter-spacing: 0;
      line-height: 24px;
      margin-left: 200px;
      max-width: 628px;
    }
    body main #inicio div {
      width: 226px;
      height: 56px;
      margin-left: 200px;
      margin-top: 56px;
      background-color: #00F3BB;
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
    }
    body main #inicio div a {
      font-family: 'IBM Plex Mono', monospace;
      font-size: 18px;
      color: #060A24;
      letter-spacing: 0;
      text-align: center;
      line-height: 56px;
      text-decoration: none;
      font-weight: bold;
      width: 100%;
    }
    body main #inicio div a:hover {
      color: white;
    }
    body main #inicio div:hover {
      background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
      color: white;
    }
    body main #episodios {
      background-image: repeating-linear-gradient(177deg, white 0%, white 12%, #0000FF 12.1%, #0000A3 88%, white 88.1%, white 100%);
      overflow: hidden;
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -ms-flex-direction: column;
      width: 100%;
    }
    body main #episodios h2 {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 48px;
      color: #FFFFFF;
      letter-spacing: 0;
      padding-left: 200px;
      margin-top: 186px;
      width: 100%;
    }
    body main #episodios .container {
      padding-bottom: 232px;
      padding-left: 100px;
      padding-right: 100px;
      width: 100%;
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
    body main #episodios .container .container-iframe {
      padding-top: 26px;
    }
    body main #episodios .container .container-iframe .prop-iframe {
      width: 584px;
      height: 232px;
    }
    body main #historia {
      position: relative;
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    body main #historia .hist-img {
      height: 480px;
      width: 457.6px;
    }
    body main #historia .hist-div {
      width: 464px;
      margin-left: 62.4px;
    }
    body main #historia div {
      position: relative;
    }
    body main #historia div img {
      position: absolute;
      top: -180px;
      height: 660px;
    }
    body main #historia div h2 {
      padding-top: 20.4px;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 48px;
      color: #060A24;
      letter-spacing: 0;
    }
    body main #historia div p {
      padding-top: 24px;
      margin-bottom: 200px;
      font-family: 'IBM Plex Mono', monospace;
      font-size: 16px;
      color: #060A24;
      letter-spacing: 0;
      line-height: 24px;
    }
    body main #entrevistas {
      padding-top: 64px;
      overflow: hidden;
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    body main #entrevistas h2 {
      -ms-flex-item-align: start;
          align-self: flex-start;
      padding-left: 200px;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 48px;
      color: #060A24;
      letter-spacing: 0;
    }
    body main #entrevistas div {
      width: 1440px;
      padding-top: 36px;
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      line-height: 0;
    }
    body main #entrevistas div img {
      width: 480px;
      display: inline-block;
    }
    body main #topicos {
      padding-top: 64px;
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    body main #topicos h2 {
      padding-left: 200px;
      padding-bottom: 56px;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 48px;
      color: #060A24;
      letter-spacing: 0;
      width: 100%;
    }
    body main #topicos article {
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 260px;
    }
    body main #topicos article img {
      width: 104px;
      padding-bottom: 16px;
    }
    body main #topicos article h3 {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 24px;
      color: #060A24;
      letter-spacing: 0;
      text-align: center;
      font-weight: bold;
    }
    body main #novedades {
      margin-top: 34px;
      height: 518px;
      overflow: hidden;
    }
    body main #novedades aside {
      background-image: repeating-linear-gradient(177deg, white 0%, white 20%, #0000FF 20.1%, #0000A3 100%);
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    body main #novedades aside h2 {
      margin-top: 213px;
      padding-bottom: 36px;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 48px;
      color: #FFFFFF;
      letter-spacing: 0;
      text-align: center;
      font-weight: bold;
    }
    body main #novedades aside div {
      margin-bottom: 151px;
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 345px;
      height: 56px;
      background-color: #00F3BB;
    }
    body main #novedades aside div a {
      text-decoration: none;
      font-family: 'IBM Plex Mono', monospace;
      font-size: 18px;
      color: #060A24;
      letter-spacing: 0;
      text-align: center;
      line-height: 56px;
      font-weight: bold;
      width: 100%;
    }
    body main #novedades aside div a:hover {
      color: white;
    }
    body main #novedades aside div:hover {
      background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
      color: white;
    }
  }
  
  @media (max-width: 768px) {
    body main {
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -ms-flex-direction: column;
    }
    body main #inicio {
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -ms-flex-direction: column;
      width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 29px 16px 24px 16px;
    }
    body main #inicio h1 {
      -ms-flex-item-align: start;
          align-self: flex-start;
      -webkit-box-sizing: unset;
              box-sizing: unset;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 36px;
      color: #060A24;
      letter-spacing: 0;
      line-height: 42px;
      max-width: 222px;
      margin-bottom: 16px;
    }
    body main #inicio h1 span {
      text-decoration: line-through;
    }
    body main #inicio h1::after {
      content: ".";
      font-size: 36px;
      color: #060A24;
      letter-spacing: 0;
      line-height: 42px;
    }
    body main #inicio .escritorio {
      display: none;
    }
    body main #inicio p {
      font-family: 'IBM Plex Mono', monospace;
      font-size: 14px;
      color: #060A24;
      letter-spacing: 0;
      line-height: 22px;
      font-weight: bolder;
      margin-bottom: 36px;
    }
    body main #inicio p .escritorio {
      display: none;
    }
    body main #inicio div {
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #00F3BB;
      width: 100%;
      margin-bottom: 24px;
      height: 48px;
    }
    body main #inicio div a {
      width: 100%;
      text-decoration: none;
      font-family: 'IBM Plex Mono', monospace;
      font-size: 16px;
      color: #060A24;
      letter-spacing: 0;
      text-align: center;
      line-height: 24px;
      font-weight: bold;
    }
    body main #episodios {
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -ms-flex-direction: column;
      padding: 110px 0px 150px 0px;
      background-image: repeating-linear-gradient(177deg, white 0%, white 4%, #0000FF 4.1%, #0000A3 96%, white 96.1%, white 100%);
    }
    body main #episodios h2 {
      -webkit-box-sizing: unset;
              box-sizing: unset;
      padding: 16px;
      -ms-flex-item-align: start;
          align-self: flex-start;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 36px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 42px;
    }
    body main #episodios .container .container-iframe {
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-bottom: 11px;
    }
    body main #episodios .container .container-iframe .prop-iframe {
      width: 298px;
      height: 225px;
    }
    body main #historia .hist-img {
      height: 439px;
    }
    body main #historia .hist-div {
      padding: 27px 16px;
    }
    body main #historia div {
      position: relative;
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -ms-flex-direction: column;
    }
    body main #historia div img {
      width: 360px;
      height: 519px;
      position: absolute;
      margin-top: -80px;
    }
    body main #historia div h2 {
      -ms-flex-item-align: start;
          align-self: flex-start;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 36px;
      color: #060A24;
      letter-spacing: 0;
      line-height: 42px;
    }
    body main #historia div p {
      font-family: 'IBM Plex Mono';
      font-size: 14px;
      color: #060A24;
      letter-spacing: 0;
      line-height: 22px;
      margin-top: 8px;
    }
    body main #entrevistas {
      padding-top: 13px;
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    body main #entrevistas h2 {
      -ms-flex-item-align: start;
          align-self: flex-start;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 36px;
      color: #060A24;
      letter-spacing: 0;
      line-height: 42px;
      padding: 14px 16px;
    }
    body main #entrevistas div {
      line-height: 0;
    }
    body main #entrevistas div img {
      display: inline-block;
      width: 100%;
    }
    body main #topicos {
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -ms-flex-direction: column;
      padding: 24px 0px 42px 0px;
    }
    body main #topicos h2 {
      -ms-flex-item-align: start;
          align-self: flex-start;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 36px;
      color: #060A24;
      letter-spacing: 0;
      line-height: 42px;
      padding: 24px 16px;
    }
    body main #topicos article {
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 20px 0px;
    }
    body main #topicos article img {
      width: 104px;
    }
    body main #topicos article h3 {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 24px;
      font-weight: bold;
      color: #060A24;
      letter-spacing: 0;
      text-align: center;
      padding-top: 5px;
    }
    body main #novedades {
      margin-top: 42px;
      height: 341px;
      overflow: hidden;
    }
    body main #novedades aside {
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 1000px;
      background-image: repeating-linear-gradient(177deg, white 0%, white 4%, #0000FF 4.1%, #0000A3 100%);
    }
    body main #novedades aside h2 {
      margin-top: 64px;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 36px;
      color: white;
      letter-spacing: 0;
      line-height: 42px;
      text-align: center;
    }
    body main #novedades aside div {
      margin-top: 36px;
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 288px;
      height: 48px;
      background-color: #00F3BB;
    }
    body main #novedades aside div a {
      text-decoration: none;
      font-family: 'IBM Plex Mono';
      font-size: 16px;
      font-weight: bold;
      color: #060A24;
      letter-spacing: 0;
      text-align: center;
      line-height: 22px;
    }
  }
  
  @media (min-width: 769px) {
    body footer {
      padding-left: 100px;
    }
    body footer div {
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    body footer div p {
      font-family: 'IBM Plex Mono';
      font-size: 16px;
      color: #060A24;
      letter-spacing: 0;
      line-height: 28px;
    }
    body footer div ul {
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      list-style: none;
    }
    body footer div ul li {
      padding: 36px;
    }
    body footer div ul li a {
      font-size: 18px;
      color: #060A24;
      letter-spacing: 0;
      line-height: 28px;
    }
  }
  
  @media (max-width: 768px) {
    body footer div {
      width: 100%;
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: white;
    }
    body footer div p {
      font-family: 'IBM Plex Mono';
      font-size: 14px;
      color: #060A24;
      letter-spacing: 0;
      line-height: 22px;
      padding: 20px 40px;
    }
    body footer div ul {
      display: -webkit-box;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      list-style: none;
    }
    body footer div ul li a {
      text-decoration: none;
      padding: 20px;
    }
    body footer div ul li a i {
      font-size: 16px;
      color: #060A24;
    }
  }